.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.selfUploads{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: #700B97;
    border-radius: 15px;
    padding: 50px;
}
.head{
    color:white;
    font-size: 20px;
    margin-bottom: 18px;
    background-color: #3E065F;
    padding: 0 20px 0 20px;
  box-shadow: 0 8px 8px -4px #009DAE;
border-radius: 5px;
}
.tabsContainer2{
    width: 100%;
}